- name: Install docker dependencies
  ansible.builtin.apt:
      name:
          - apt-transport-https
          - ca-certificates
          - curl
          - gnupg
          - lsb-release
      state: present

- name: Add Docker GPG key
  ansible.builtin.apt_key:
      url: https://download.docker.com/linux/ubuntu/gpg
      state: present

- name: Add Docker repository
  ansible.builtin.apt_repository:
      repo: deb [arch=amd64] https://download.docker.com/linux/ubuntu focal stable
      state: present

- name: Install Docker
  ansible.builtin.apt:
      name: docker-ce
      state: latest
      update_cache: yes

- name: Ensure Docker service is running
  ansible.builtin.service:
      name: docker
      state: started
      enables: yes
