- name: Install curl
  package:
      name: curl
      state: present
  become: yes

- name: Install k3s
  shell: |
      curl -sfL https://get.k3s.io | sh -
  args:
      creates: /usr/local/bin/k3s
  become: yes

- name: Ensure k3s service is running
  systemd:
      name: k3s
      state: started
      enabled: yes
  become: yes

- name: Display cluster info
  command: k3s kubectl get nodes
  register: k3s_nodes

- name: Show nodes
  debug:
      msg: '{{ k3s_nodes.stdout }}'
