- name: Create cert-manager namespace
  kubernetes.k8s.core:
    api_version: v1
    kind: Namespace
    name: cert-manager
    state: present
    kubeconfig: /home/{{ ansible_user }}/.kube/config

- name: Add Jetstack Helm repo for cert-manager
  kubernetes.core.helm_repository:
    name: jetstack
    repo_url: https://charts.jetstack.io

- name: Install cert-manager
  kubernetes.core.helm:
    name: cert-manager
    chart_ref: jetstack/cert-manager
    namespace: cert-manager
    create_namespace: false
    chart_version: 'v1.19.2'
    kubeconfig: /home/{{ ansible_user }}/.kube/config
    values:
      installCRDs: true

- name: Create ClusterIssuer for Let's Encrypt
  kubernetes.core.k8s:
    kubeconfig: /home/{{ ansible_user }}/.kube/config
    state: present
    definition:
      apiVersion: cert-manager.io/v1
      kind: ClusterIssuer
      metadata:
        name: letsencrypt-prod
      spec:
        acme:
          email: larsverschoor2@gmail.com
          server: https://acme-v02.api.letsencrypt.org/directory
          privateKeySecretRef:
            name: letsencrypt-prod
          solvers:
            - http01:
              ingress:
                class: nginx
