- name: Install k3s
  ansible.builtin.shell: |
      curl -sfL https://get.k3s.io | sh -
  args:
      creates: /usr/local/bin/k3s

- name: Ensure k3s service is running
  ansible.builtin.service:
      name: k3s
      state: started
      enabled: yes
