# Install basic dependencies
- name: Install K3s Requirements
  ansible.builtin.apt:
      update_cache: true
      pkg:
          - policycoreutils
      state: present

# Check if K3s is already installed
- name: Check if K3S is already installed
  ansible.builtin.stat:
      path: /usr/local/bin/k3s
  register: k3s_installed

# Download the K3s install script (only if not installed)
- name: Download K3s installation script
  ansible.builtin.get_url:
      url: https://get.k3s.io
      dest: /tmp/k3s_install.sh
      mode: '0755'
  when: not k3s_installed.stat.exists

# Install Initial Master (cluster-init)
- name: Install K3s initial master
  ansible.builtin.shell: |
      sh /tmp/k3s_install.sh \
        --cluster-init \
        --disable=traefik \
        --flannel-backend=vxlan
  args:
      executable: /bin/bash
  when: node_type | default('undefined') == 'k3s_initial_master' and not k3s_installed.stat.exists

# Read node token from initial master (only once)
- name: Read K3s node token from initial master
  ansible.builtin.slurp:
      src: /var/lib/rancher/k3s/server/node-token
  register: k3s_node_token
  delegate_to: k3s-m1
  run_once: true
  no_log: true # prevents token from appearing in logs
  when: node_type | default('undefined') != 'k3s_initial_master'

# Install additional master nodes
- name: Install K3s master nodes
  ansible.builtin.shell: |
      sh /tmp/k3s_install.sh \
        --token {{ k3s_node_token.content | b64decode | trim }} \
        --server https://{{ hostvars['k3s-m1'].ansible_default_ipv4.address }}:6443 \
        --disable=traefik \
        --flannel-backend=vxlan
  args:
      executable: /bin/bash
  when: node_type | default('undefined') == 'k3s_master' and not k3s_installed.stat.exists

# Install worker nodes
- name: Install K3s worker nodes
  ansible.builtin.shell: |
      sh /tmp/k3s_install.sh agent \
        --token {{ k3s_node_token.content | b64decode | trim }} \
        --server https://{{ hostvars['k3s-m1'].ansible_default_ipv4.address }}:6443
  args:
      executable: /bin/bash
  when: node_type | default('undefined') == 'k3s_worker' and not k3s_installed.stat.exists
