- name: Ensure UFW is disabled
  community.general.ufw:
    state: disabled
  become: true

- name: Ensure curl is installed
  ansible.builtin.package:
    name: curl
    state: present

- name: Disable swap at runtime
  ansible.builtin.command: swapoff -a
  when: ansible_swaptotal_mb | int > 0

- name: Disable swap permanently
  ansible.builtin.mount:
    name: swap
    fstype: swap
    state: absent

- name: Install K3s Server
  ansible.builtin.shell: curl -sfL https://get.k3s.io | sh -s -
  environment:
    INSTALL_K3S_EXEC: 'server --disable traefik --write-kubeconfig-mode 0640'
    K3S_TOKEN: '{{ k3s_token }}'
  args:
    creates: /usr/local/bin/k3s

- name: Create k3s-readers group
  ansible.builtin.group:
    name: k3s-readers
    state: present

- name: Add ansible user to k3s-readers group
  ansible.builtin.user:
    name: "{{ ansible_user }}"
    groups: k3s-readers
    append: yes

- name: Set kubeconfig group and permissions
  ansible.builtin.file:
    path: /etc/rancher/k3s/k3s.yaml
    owner: root
    group: k3s-readers
    mode: '0640'

- name: Create .kube directory on user home directory
  ansible.builtin.file:
    path: /home/{{ ansible_user }}/.kube
    state: directory
    owner: '{{ ansible_user }}'
    group: '{{ ansible_user }}'
    mode: '0700'
  become: true

- name: Copy kubeconfig to user home directory
  ansible.builtin.copy:
    src: /etc/rancher/k3s/k3s.yaml
    dest: /home/{{ ansible_user }}/.kube/config
    owner: '{{ ansible_user }}'
    group: '{{ ansible_user }}'
    mode: '0600'
    remote_src: true
  become: true

- name: Install kubernetes Python library
  ansible.builtin.package:
    name: python3-kubernetes
    state: present

- name: Wait for K3s node to be Ready
  ansible.builtin.command: kubectl get nodes --no-headers
  register: result
  retries: 10
  delay: 10
  until: "'Ready' in result.stdout"
  changed_when: false
  failed_when: "'NotReady' in result.stdout"
