- name: Install ARC runner scale set controller
  kubernetes.core.helm:
    name: arc
    chart_ref: oci://ghcr.io/actions/actions-runner-controller-charts/gha-runner-scale-set-controller
    release_namespace: 'arc-systems'
    create_namespace: true
    state: present
    kubeconfig: /home/{{ ansible_user }}/.kube/config

- name: namespace for GitHub ARC
  kubernetes.core.k8s:
    api_version: v1
    kind: Namespace
    name: arc-runner-set
    state: present
    kubeconfig: /home/{{ ansible_user }}/.kube/config

- name: Install GitHub Actions runner scale set
  kubernetes.core.helm:
    name: "arc-runner-{{ item | lower | replace('_','-') }}"
    chart_ref: oci://ghcr.io/actions/actions-runner-controller-charts/gha-runner-scale-set
    release_namespace: arc-runners
    create_namespace: false
    state: present
    kubeconfig: /home/{{ ansible_user }}/.kube/config

    values:
      githubConfigUrl: 'https://github.com/LarsVerschoor/{{ item }}'
      githubConfigSecret:
        github_token: '{{ github_pat }}'
  loop: '{{ cicd_repositories }}'
