- name: Install ARC runner scale set controller
  kubernetes.core.helm:
    name: arc
    chart_ref: oci://ghcr.io/actions/actions-runner-controller-charts/gha-runner-scale-set-controller
    release_namespace: 'arc-systems'
    create_namespace: true
    state: present
    kubeconfig: /home/{{ ansible_user }}/.kube/config

- name: Create ARC RunnerScaleSets for all CI/CD repositories
  kubernetes.core.k8s:
    state: present
    namespace: arc-runners
    kubeconfig: /home/{{ ansible_user }}/.kube/config
    definition:
      apiVersion: actions.github.com/v1alpha1
      kind: RunnerScaleSet
      metadata:
        name: 'runner-{{ item }}'
      spec:
        githubConfigUrl: '{{ item }}'
        githubConfigSecret:
          github_token: '{{ github_pat }}'
        runnerScaleSetName: 'runner-{{ item }}'
        minRunners: 0
        maxRunners: 2
  loop: '{{ cicd_repositories }}'
